<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="initial-scale=1,user-scalable=no"/>
</head>
<body>

<div class="banner">
    <ul class="move">
        <li>
            <img src="imgs/<%= require('./src/assets/1.png') %>" height="300" width="800"/>
        </li>
        <li><img data-src="imgs/<%= require('./src/assets/2.png')%>" height="300" width="800"/></li>
        <li><img data-src="imgs/<%= require('./src/assets/3.png')%>" height="300" width="800"/></li>
        <li><img data-src="imgs/<%= require('./src/assets/4.png')%>" height="300" width="800"/></li>
        <li><img data-src="imgs/<%= require('./src/assets/5.png')%>" height="300" width="800"/></li>
    </ul>
    <ul class="btn"></ul>
</div>

<p>

</p>

</body>
</html>