

/*#region list */

.list {
    padding:10px 0
}

.list .title {
    overflow:hidden;
    font-size: 24px;
    color: #E40000;
}

.list .time{
    float:left;
    padding: 14px 2px 0 10px;
}
.list li {
    padding:2px 0
}
.list li a {
    display:block;
}

.list li a:hover {
    background:#eee;
}
/*#endregion */
