


.loading{

	position: fixed;
	width: 100%;
	height: 100%;

	background-color: rgba(50,50,50,.5);
}

.loading:after{
	content: '';
	width: 10px;
	height: 10px;

	position: absolute;
	left: 50%;
	top:50%;
	margin: -20px 0 0 -20px;
	border-radius: 50px;
	background-color: #fff;

	animation: demo2 .6s infinite alternate ease;

transform: translate3d(0,0,0);
}


@-webkit-keyframes demo2{ 
    0%{ transform: translate3d(0,0,0);}
	/*50%{transform: translate3d(0,90px,0); }*/
    100%{ transform: translate3d(0,40px,0); }   
}
