@import "base.scss";

@function toSizeByImg($v) {
    @return $v / 1.5;
}


$baseFontSize:14;
// 564 360 1.567
// 1200 766
// 1920 1226

body{
    //background-color: #ddd;
}

.select-rect {
    border: 2px solid #ff4c4c;
    width: 200px;
    height: 200px;
    position: relative;
    left: 150px;
    top:150px;
    //transform: translate3d(150px,150px,0);
    $bW:2px;
    $side:20px;
    $angle:44px;

    $sideXY:-($side + $bW)/2;
    $angleXY:-($angle + $bW)/2;

    @mixin sideBGC {
        //background: #21d600;
    }
    @mixin angleBGC {
        //background: #d6c600;
    }

    .t-bar {

        position: absolute;
        top:$sideXY;
        left: 0;
        height: $side;
        width: 100%;
        @include sideBGC;

    }
    .r-bar {
        position: absolute;
        top:0;
        right:$sideXY;
        height: 100%;
        width: $side;
        @include sideBGC;

        &:after{
            content: '';
            position: absolute;
            right:$side/2;
            top: 50%;
            margin-top: -$angle/4;
            box-sizing: border-box;
            border-left: 4px solid #ff4c4c;
            height: $angle/2;
        }
    }
    .b-bar {
        position: absolute;
        bottom:$sideXY;
        left: 0;
        height: $side;
        width: 100%;
        @include sideBGC;

        &:after{
            content: '';
            position: absolute;
            bottom:$side/2;
            left: 50%;
            margin-left: -$angle/4;
            box-sizing: border-box;
            border-top: 4px solid #ff4c4c;
            width: $angle/2;
        }
    }
    .l-bar {
        position: absolute;
        top:0;
        left: $sideXY;
        height: 100%;
        width: $side;
        @include sideBGC;

        &:after{
            content: '';
            position: absolute;
            left:$side/2;
            top: 50%;
            margin-top: -$angle/4;
            box-sizing: border-box;
            border-left: 4px solid #ff4c4c;
            height: $angle/2;
        }
    }

    .lt-bar {
        position: absolute;
        top:$angleXY;
        left:$angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;

        &:after{
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            box-sizing: border-box;
            border: 4px solid #ff4c4c;
            border-right:0 ;
            border-bottom:0 ;
            width: $angle/2;
            height: $angle/2;
        }
    }
    .rt-bar {
        position: absolute;
        top:$angleXY;
        right: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;

        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            box-sizing: border-box;
            border: 4px solid #ff4c4c;
            border-left:0 ;
            border-bottom:0 ;
            width: $angle/2;
            height: $angle/2;
        }
    }
    .rb-bar {
        position: absolute;
        bottom:$angleXY;
        right: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            box-sizing: border-box;
            border: 4px solid #ff4c4c;
            border-left:0 ;
            border-top:0 ;
            width: $angle/2;
            height: $angle/2;
        }
    }
    .lb-bar {
        position: absolute;
        bottom:$angleXY;
        left: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;

        &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            box-sizing: border-box;
            border: 4px solid #ff4c4c;
            border-right:0 ;
            border-top:0 ;
            width: $angle/2;
            height: $angle/2;
        }
    }
    .close{
        position: absolute;
        top:$angleXY;
        left: 50%;
        margin-left: - $angle/2;
        height: $angle;
        width: $angle;
        @include angleBGC;

        background: url('../imgs/ico.png') no-repeat (-10px/1.5) (-10px/1.5);
        width: 44px;
        height: 44px;
        background-size: (600px / 1.5) auto;
    }
}

.homework-page{

    .head{
        margin:0 40px;
        padding: 20px 0 10px;
        border-bottom: 1px dashed #f0f0f0;
        .tit{
            font-size: 18 / $baseFontSize * 100%;
            color:#666;
            padding: 5px 0;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: -29px;
                top: 4px;
                background: url('../imgs/ico.png') no-repeat toSizeByImg(-24px) toSizeByImg(-116px);
                width: toSizeByImg(35px);
                height: toSizeByImg(36px);
                background-size: toSizeByImg(600px) auto;
            }
        }
        .date{
            color: #888;
            padding: 5px 0;
        }
        .des{
            color: #888;
            padding: 5px 0;
        }
        .audio{
            padding: 5px 0;
        }
        .imgs{
            padding: 8px 0;
            overflow: hidden;

            a{
                float: left;
                margin-right: 10px;
            }
        }


        $ml:140px;

        .h-left{
            float: left;
            width: 100%;

        }

        .h-main{
            margin-right:$ml;
        }

        .h-right{
            float: left;
            width: $ml;
            margin-left:-$ml;
        }
        .submit-num{
            color: #888;
            width: (191px / 1.5);
            padding-bottom: 14px;
            font-size: 16px;
            text-align: center;
        }
        .score-circle{
            background: url('../imgs/ico.png') no-repeat (-127px/1.5) 0;
            width: (191px / 1.5);
            height: (176px / 1.5);
            background-size: (600px / 1.5) auto;
            .score{
                color: #2cc1ff;
                font-size: 30px;
                text-align: center;
                line-height: (118/30);
            }
            .ranking{
                color: #888;
                text-align: center;
                line-height: 0;
            }
        }
    }

    .as-list{
        padding: 20px 0;
        margin: 0 40px;
        dl{
            padding: 12px 0;
        }
        dt{
            float: left;
            padding-top: 16px;
        }
        dd{

            margin-left: 36px;
        }

        .correct-btn{
            display: inline-block;
            background-color: #2cc1ff;
            color: #fff;
            padding: 3px 14px;
            border-radius: 4px;
            margin-left: 16px;
        }
        .have-correct{
            display: inline-block;
            background-color: #b5d992;
            color: #fff;
            padding: 3px 14px;
            border-radius: 4px;

            margin-left: 16px;
        }

        // 选择题
        .choice{

            .c-wrap{
                margin-left: -40px;
                float: left;
            }

            .option{
                float: left;
                border-radius: 50%;
                width: 46px;
                height: 46px;
                text-align: center;
                border: 1px solid #a2a2a2;
                color: #666;
                font-size: 18px;
                line-height: (46 / 18);
                margin-left: 40px;
                &.selected{


                    background-color: #b5d992;
                    border: 1px solid #88b061;
                    color: #fff;
                }

                &.wrong{
                    background-color: #ff6858;
                    border: 1px solid #d0493b;
                    color: #fff;
                }
            }
        }

        // 判断题
        .judge{
            padding: 20px 0;
            .c-wrap{
                margin-left: -24px;
                float: left;
            }
            .option{
                float: left;
                border-radius: 4px;
                width: 74px;
                height: 36px;
                font-size: 16px;
                line-height: (36 / 16);

                text-align: center;
                border: 1px solid #a2a2a2;
                color: #666;

                //margin: 0 16px;
                margin-left: 24px;


                &.selected{


                    background-color: #2cc1ff;
                    border: 1px solid #1091c6;
                    color: #fff;
                }

                &.wrong{


                    background-color: #ff6858;
                    border: 1px solid #d0493b;
                    color: #fff;
                }
            }
        }

    //    简答题
        .short{
            padding: 20px 0;
            .c-wrap{
                margin-left: -10px;
                float: left;
            }
            .img{
                float: left;
                margin-left: 10px;
                position: relative;

                .remove-btn{
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    background: url('../imgs/ico.png') no-repeat toSizeByImg(-29px) toSizeByImg(-354px);
                    width: toSizeByImg(27px);
                    height: toSizeByImg(27px);
                    background-size: toSizeByImg(600px) auto;
                }
            }
            .chose-img-btn{
                float: left;
                margin-left: 10px;
                background: url('../imgs/ico.png') no-repeat 0 toSizeByImg(-213px);
                width: toSizeByImg(90px);
                height: toSizeByImg(90px);
                background-size: toSizeByImg(600px) auto;
            }
        }

    }
}