---
layout: index
title: Cqlql.GitHub.io
---




<ul class="list">
    {% for post in paginator.posts %}

    <li>
        <a href="/demo/{{ post.pathname }}">
            <span class="time">{{ post.date | date:"%Y-%m-%d" }}</span>
            <div class="title">
                {{ post.title }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

<div class="pager" id="pager" data-page="{{ paginator.page }},{{ paginator.total_posts }},{{ paginator.per_page }}"></div>

<div>previous_page{{ paginator.previous_page }}</div>
<div>per_page{{ paginator.per_page }}</div>
<div>total_posts{{ paginator.total_posts }}</div>
<div>previous_page_path{{ paginator.previous_page_path }}</div>
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>

<script src="../js/index.js"></script>
