---
layout: index
title: Cqlql.GitHub.io
---

{% for work in site.data.works %}
<p>
    <a href="/demo/{{ work.pathName }}">
        {{ work.name }}
    </a>
    {{ work.date }}
</p>
{% endfor %}

 {% for post in paginator.posts %}
 	<p><a href="/demo/{{ post.path }}">{{ post.title }}</a>{{ post.date | date:"%Y-%m-%d" }}</p>
 {% endfor %}

<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>