
body{
    background-color: #eee;
    /*overflow: hidden;*/
}

/*
main{
    position: fixed;
    left:0;
    top:0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.6);


}
*/


main{
    padding: 10px;
}