@import "base.scss";

.picture-zoom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;


    pointer-events: none;
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;

    &.show {
        pointer-events: auto;
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
    }

}