body{margin:0 auto; font-family: '黑体';}
p,ul,dl,dt,dd{padding:0;margin:0;}
ul{list-style-type:none;}
a{ text-decoration: none}
img{border: 0px}
header
{
    background-color: #fa6c57;
    font-family: '黑体';
}
.div-head
{
    height:50px;
    text-align: center;
    font-size: 18px;
}
.span-title
{
    color: #fff;
    line-height: 55px;
    text-align: center;
}
.div-choice
{
    border-bottom: 5px solid #fa6c57;
    color: #fa6c57;
}
footer
{
    /*max-width: 640px;*/
    border-top: 1px solid #bebebe;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
}
footer .div-foot
{
    width: 100%;
    display: block;
    bottom: 70px;
}
footer .div-foot ul
{
    width: 100%;
    margin: 10px auto;
    padding: 0 auto;

}
footer .div-foot ul li {
    float: left;
    margin-bottom: 8px;
    text-align: center;
    width: 25%;
}
footer .div-foot ul li a img
{
    width: 30px;
    height: auto;
}
.fz
{
    color: red;
}
.back
{
    float: left;
    width: 12px;
    height: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.tol
{
    background-color: #fcc7bf;
}
.sx
{
    width: 20px;
    height: 20px;
    float: right;
    margin: 20px 20px auto;
    position: relative;
}
.sx img{
    width: 20px;
    height: 20px;
}
.sx input{
    width: 20px;
    height: 20px;
    border: 0;
    padding: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top:0;
}