
/*满屏加载*/
.preloader-full {

  & {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    display: none;
  }
  &.show {
    display: block;
  }

  .preloader-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 8px;
    height: 34px;
    margin-left: -25px;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 11000;
    border-radius: 5px;
  }

  .preloader {
    width: 34px;
    height: 34px;
  }

}
