.report{
  h1{
    text-align: center;
    margin: 20px 0 30px;
    font-size: 20px;
  }
  .accuracy{
    .circle{
      text-align: center;
    }
    canvas{
      width: 40%
    }
  }

  .award{
    overflow: hidden;


    .ct{
      float: left;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      padding: 20px 0 4px;
    }

    .c{
      padding: 10px 0;
    }
    .c:before{
      font-family: 'iconfont';
      content: '\e644';
      color: #ffce56;
      margin-right: 6px;
      font-size: 16px;
    }
    .g:before{
      font-family: 'iconfont';
      content: '\e607';
      color: #ffce56;
      margin-right: 6px;
      font-size: 16px;
      vertical-align: -1px;
    }
    span{
      color: #ffce56;
      font-weight: bold;
    }
  }

  .result-txt{
    display: none;
    padding: 20px 15px;
    .r{
      padding: 6px 0;
    }
    b{
      color: #71c81f;
    }
    .w{
      color: #ff5757
    }
  }

  .det{
    display: none;
    padding: 20px 0;
    .tit{
      text-align: center;
      color: #999;
      border-bottom: 1px solid #ddd;
      height: 6px;
      margin: 0 15px;
      span{
        background-color: #fff;
        padding: 0 10px;
      }
    }
    ul{
      padding:10px 15px 20px;
      text-align:justify;
    }
    li{
      border: 1px solid #ddd;
      display: inline-block;
      color: #71c81f;
      border-radius: 5px;
      margin:0 3px;
      margin-top: 12px;
      padding: 2px 10px;
    }
    .w{
      color: #ff5757
    }
  }
}
