


/*简单消息*/
.simple-msg{

    position: fixed;
    left:50%;
    bottom: 10%;
    transform:translateX(-50%);

    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
    font-size: 14px;
    line-height: 1.2;

    max-width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;

    pointer-events: none;

    transition: 0.6s ease;
}
.simple-msg.hide{

    opacity: 0;

}

