
p{
    margin: 1em;
}

.button {
    border: 0;
    font-size: 16px;
    padding: 4px 20px;
    display: inline-block;
    cursor: pointer;
    line-height: 20px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    background-color: #1B9AF7;
    color: #FFF;
}

.button:hover {
    background-color: #4cb0f9;
}

.button:active {
    background-color: #2798eb;
    color: #004B82;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button.caution {
    background-color: #FF4351;
    color: #FFF;
}

.button.caution:hover {
    background-color: #ff7680;
}

.button.caution:active {
    background-color: #f64c59;
    color: #C3000F;
}

.example-btns{
    width: 250px;

    margin-left: 360px;
}
.example-btns a{
    display: inline-block;
    color: #0061a9;
}

.introduce-text{
    float: left;
}

/**/
.follow-popup {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 2px;
    padding: 6px 10px;
    box-sizing: border-box;
    font-size: 14px;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    pointer-events: none;
    opacity: 0;


    -webkit-transition:opacity 0.3s ease;
    transition:opacity 0.3s ease;
    /*-webkit-transform: scale(0.8, 0.8);*/
    /*transform: scale(0.8, 0.8);*/
}
.follow-popup.show{
    pointer-events: auto;
    opacity: 1;

    /*-webkit-transform: scale(1, 1);*/
    /*transform: scale(1, 1);*/
}
.follow-popup.confirm p {
    padding: 4px 0 8px;
    margin: 0;
}
.follow-popup.confirm .button {
    font-size: 14px;
    padding: 2px 12px;
    margin: 0 6px;
}
.follow-popup.confirm .btns {
    text-align: center;
}

