//@import "base.scss";

@function toSizeByImg($v) {
    @return $v / 1.5;
}

$baseFontSize: 14;
// 564 360 1.567
// 1200 766
// 1920 1226

body {
    //background-color: #ddd;
}

.popup-btn {
    border:0;
    color: #666;
    font-size: 16px;
    background-color: #eee;

    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 10px;
}
.popup-btn:active {
    background-color: #eee;
    color: #aaa;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.picture-clip {
    position: fixed;
    top:0;
    bottom:0;
    width: 100%;
    background-color: #fff;

    opacity: 0;
    -webkit-transform:scale(.8,.8);
    transform:scale(.8,.8);
    pointer-events: none;
    -webkit-transition: 200ms ease-out;
    transition: 200ms ease-out;

    .img-win{
        position: absolute;
        top:0;
        bottom:56px;
        width: 100%;
        text-align: center;

        -webkit-box-align:center;
        display: inline-block;
        &:before{
            //content: '';
            //display: inline-block;
            //width: 0;
            //height: 100%;
            //overflow: hidden;
            //vertical-align: middle;
        }

    }
    .img{
        position: relative;
        overflow: hidden;

    }
    img {

        //position: absolute;
        //top:0;
        //bottom:80px;
        /* display: block; */
        width: 100%;
        height: 100%;
        /* overflow: hidden; */


    }

    .select-rect {
        border: 2px solid #ff4c4c;
        box-sizing: border-box;
        width: 200px;
        height: 200px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.5);
        $bW: 2px;
        $side: 20px;
        $angle: 44px;

        $sideXY: -($side + $bW)/2;
        $angleXY: -($angle + $bW)/2;

        @mixin sideBGC {
            //background: #21d600;
        }
        @mixin angleBGC {
            //background: #d6c600;
        }

        .t-bar {

            position: absolute;
            top: $sideXY;
            left: 0;
            height: $side;
            width: 100%;
            @include sideBGC;

        }
        .r-bar {
            position: absolute;
            top: 0;
            right: $sideXY;
            height: 100%;
            width: $side;
            @include sideBGC;

            &:after {
                content: '';
                position: absolute;
                right: $side/2;
                top: 50%;
                margin-top: -$angle/4;
                box-sizing: border-box;
                border-left: 4px solid #ff4c4c;
                height: $angle/2;
            }
        }
        .b-bar {
            position: absolute;
            bottom: $sideXY;
            left: 0;
            height: $side;
            width: 100%;
            @include sideBGC;

            &:after {
                content: '';
                position: absolute;
                bottom: $side/2;
                left: 50%;
                margin-left: -$angle/4;
                box-sizing: border-box;
                border-top: 4px solid #ff4c4c;
                width: $angle/2;
            }
        }
        .l-bar {
            position: absolute;
            top: 0;
            left: $sideXY;
            height: 100%;
            width: $side;
            @include sideBGC;

            &:after {
                content: '';
                position: absolute;
                left: $side/2;
                top: 50%;
                margin-top: -$angle/4;
                box-sizing: border-box;
                border-left: 4px solid #ff4c4c;
                height: $angle/2;
            }
        }

        .lt-bar {
            position: absolute;
            top: $angleXY;
            left: $angleXY;
            height: $angle;
            width: $angle;
            @include angleBGC;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                box-sizing: border-box;
                border: 4px solid #ff4c4c;
                border-right: 0;
                border-bottom: 0;
                width: $angle/2;
                height: $angle/2;
            }
        }
        .rt-bar {
            position: absolute;
            top: $angleXY;
            right: $angleXY;
            height: $angle;
            width: $angle;
            @include angleBGC;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                box-sizing: border-box;
                border: 4px solid #ff4c4c;
                border-left: 0;
                border-bottom: 0;
                width: $angle/2;
                height: $angle/2;
            }
        }
        .rb-bar {
            position: absolute;
            bottom: $angleXY;
            right: $angleXY;
            height: $angle;
            width: $angle;
            @include angleBGC;
            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                border: 4px solid #ff4c4c;
                border-left: 0;
                border-top: 0;
                width: $angle/2;
                height: $angle/2;
            }
        }
        .lb-bar {
            position: absolute;
            bottom: $angleXY;
            left: $angleXY;
            height: $angle;
            width: $angle;
            @include angleBGC;

            &:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                box-sizing: border-box;
                border: 4px solid #ff4c4c;
                border-right: 0;
                border-top: 0;
                width: $angle/2;
                height: $angle/2;
            }
        }
        .close {
            position: absolute;
            top: $angleXY;
            left: 50%;
            margin-left: - $angle/2;
            height: $angle;
            width: $angle;
            @include angleBGC;

            background: url('../imgs/ico.png') no-repeat (-10px/1.5) (-10px/1.5);
            width: 44px;
            height: 44px;
            background-size: (600px / 1.5) auto;
        }

        .text{
            height: 100%;

            text-align: center;

            span{
                font-size: 30px;
                vertical-align: middle;
            }
            &:before{
                content: '';
                display: inline-block;
                width: 0;
                height: 100%;

                vertical-align: middle;
            }

        }
    }

    .bar {
        height: 36px;
        font-size: 18px;
        color: #666;
        position: fixed;
        bottom: 0;
        left:0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;

        dt {
            float: left;
            text-overflow: ellipsis;
            white-space: nowrap;

            line-height: (36 / 18);
            padding: 0 0 0 10px;
        }
        dd {
            position: relative;
            overflow: hidden;
            .wp{
                overflow: auto;

            }

            $w:36px;
            &:before{
                content: '';
                width: $w *2;
                height: $w *2;
                position: absolute;
                left: -$w *2 - 6;
                top: -$w/2;
                box-shadow: 25px 0 20px #fff;
                border-radius: 50%;
            }
            &:after{
                content: '';
                width: $w *2;
                height: $w *2;
                position: absolute;
                right: -$w *2;
                top: -$w/2;
                box-shadow: -25px 0 20px #fff;
                border-radius: 50%;
            }

        }

        .list{

            text-overflow: ellipsis;
            white-space: nowrap;
            padding:0 0 0 14px;

        }

        a {
            width: 34px;
            height: 34px;
            border: 1px solid #a0a0a0;
            //float: left;
            display: inline-block;

            font-size: 20px;
            line-height: (34 / 20);
            text-align: center;
            color: #a0a0a0;
            margin: 0 4px;
            border-radius: 4px;
            &.active {
                background-color: #b5d992;
                border-color: #b5d992;
                color: #fff;
            }
        }
    }



    &.show{
        opacity: 1;
        -webkit-transform:scale(1,1);
        transform:scale(1,1);
        pointer-events: auto;
    }
}
