<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!--<meta name="description" content="Cqlql.GitHub.io : blog">-->
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport" />
    <title>{{ page.title }}</title>

    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/common.js"></script>
</head>

<body>
    <header>
        <div class="top wrap">
            <a href="/" class="logo">web前端</a>
        </div>
        <menu>
            <ul class="wrap">
                <li>
                    <a href="/" class="active">首页</a>
                </li>
                <li>
                    <a href="{{ site.url }}/demo/{{ site.posts[0].pathname }}">{{ site.posts[0].title }}</a>
                </li>
            </ul>
        </menu>
    </header>

    <div class="content wrap">{{ content }}</div>
    
</body>
</html>