<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <!--<meta name="description" content="Cqlql.GitHub.io : blog">-->
    <meta content="width=device-width,initial-scale=1.0,user-scalable=no" name="viewport" />
    <title>{{ page.title }}</title>

    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
    <script src="/js/common.js"></script>
    <script src="../../js/common_pc.js"></script>
</head>

<body>
    <header>
        <div class="top wrap">
            <a href="/" class="logo">web前端效果</a>
        </div>
        <menu>
            <ul class="wrap">
                {% if page.demo %}
                <li>
                    <a href="/">返回首页</a>
                </li>
                <li>
                    <a class="active">{{ page.title }}</a>
                </li>
                <li>
                    <a heft="/about">关于</a>
                </li>
                {% elseif page.about %}
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a class="active">关于</a>
                </li>
                {% else %}
                <li>
                    <a class="active">首页</a>
                </li>
                <li>
                    <a heft="/about">关于</a>
                </li>
                {% endif %}
            </ul>
        </menu>
    </header>

    <div class="content wrap">{{ content }}</div>
    
</body>
</html>