<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Cqlql.GitHub.io : blog">

    <title>Cqlql.GitHub.io</title>

    <link href="/css/base.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/index.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="top wrap">
            <a href="" class="logo">html+</a>
        </div>
        <menu>
            <ul class="wrap">
                <li>
                    <a href="" class="active">首页</a>
                </li>
                <li>
                    <a href="{{ site.url }}/demo/{{ paginator.posts[0].pathname }}">{{ paginator.posts[0].title }}</a>
                </li>
            </ul>
        </menu>
    </header>

    <div class="content wrap">{{ content }}</div>

</body>
</html>