@charset "UTF-8";
/*# 重置 */
body, select {
  margin: 0;
}

p, input, td, textarea, ul, dl, dt, dd, menu {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

ul {
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

img {
  border: 0\9;
}

/*ie*/
body {
  color: #333;
  font: 14px/1.2 Microsoft Yahei,\5FAE\8F6F\96C5\9ED1;
}

a {
  color: #333;
  text-decoration: none;
}

input, textarea {
  outline: none;
}

/*# 公共 */
.cf {
  clear: both;
}

.cf:after {
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

/*hide*/
.select-rect {
  border: 2px solid #ff4c4c;
  width: 200px;
  height: 200px;
  position: relative;
  left: 150px;
  top: 150px;
}
.select-rect .t-bar {
  position: absolute;
  top: -11px;
  left: 0;
  height: 20px;
  width: 100%;
}
.select-rect .r-bar {
  position: absolute;
  top: 0;
  right: -11px;
  height: 100%;
  width: 20px;
}
.select-rect .r-bar:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
  box-sizing: border-box;
  border-left: 4px solid #ff4c4c;
  height: 22px;
}
.select-rect .b-bar {
  position: absolute;
  bottom: -11px;
  left: 0;
  height: 20px;
  width: 100%;
}
.select-rect .b-bar:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -11px;
  box-sizing: border-box;
  border-top: 4px solid #ff4c4c;
  width: 22px;
}
.select-rect .l-bar {
  position: absolute;
  top: 0;
  left: -11px;
  height: 100%;
  width: 20px;
}
.select-rect .l-bar:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -11px;
  box-sizing: border-box;
  border-left: 4px solid #ff4c4c;
  height: 22px;
}
.select-rect .lt-bar {
  position: absolute;
  top: -23px;
  left: -23px;
  height: 44px;
  width: 44px;
}
.select-rect .lt-bar:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 4px solid #ff4c4c;
  border-right: 0;
  border-bottom: 0;
  width: 22px;
  height: 22px;
}
.select-rect .rt-bar {
  position: absolute;
  top: -23px;
  right: -23px;
  height: 44px;
  width: 44px;
}
.select-rect .rt-bar:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border: 4px solid #ff4c4c;
  border-left: 0;
  border-bottom: 0;
  width: 22px;
  height: 22px;
}
.select-rect .rb-bar {
  position: absolute;
  bottom: -23px;
  right: -23px;
  height: 44px;
  width: 44px;
}
.select-rect .rb-bar:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 4px solid #ff4c4c;
  border-left: 0;
  border-top: 0;
  width: 22px;
  height: 22px;
}
.select-rect .lb-bar {
  position: absolute;
  bottom: -23px;
  left: -23px;
  height: 44px;
  width: 44px;
}
.select-rect .lb-bar:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  box-sizing: border-box;
  border: 4px solid #ff4c4c;
  border-right: 0;
  border-top: 0;
  width: 22px;
  height: 22px;
}
.select-rect .close {
  position: absolute;
  top: -23px;
  left: 50%;
  margin-left: -22px;
  height: 44px;
  width: 44px;
  background: url("../imgs/ico.png") no-repeat -6.66667px -6.66667px;
  width: 44px;
  height: 44px;
  background-size: 400px auto;
}

.homework-page .head {
  margin: 0 40px;
  padding: 20px 0 10px;
  border-bottom: 1px dashed #f0f0f0;
}
.homework-page .head .tit {
  font-size: 128.57143%;
  color: #666;
  padding: 5px 0;
  position: relative;
}
.homework-page .head .tit:before {
  content: '';
  position: absolute;
  left: -29px;
  top: 4px;
  background: url("../imgs/ico.png") no-repeat -16px -77.33333px;
  width: 23.33333px;
  height: 24px;
  background-size: 400px auto;
}
.homework-page .head .date {
  color: #888;
  padding: 5px 0;
}
.homework-page .head .des {
  color: #888;
  padding: 5px 0;
}
.homework-page .head .audio {
  padding: 5px 0;
}
.homework-page .head .imgs {
  padding: 8px 0;
  overflow: hidden;
}
.homework-page .head .imgs a {
  float: left;
  margin-right: 10px;
}
.homework-page .head .h-left {
  float: left;
  width: 100%;
}
.homework-page .head .h-main {
  margin-right: 140px;
}
.homework-page .head .h-right {
  float: left;
  width: 140px;
  margin-left: -140px;
}
.homework-page .head .submit-num {
  color: #888;
  width: 127.33333px;
  padding-bottom: 14px;
  font-size: 16px;
  text-align: center;
}
.homework-page .head .score-circle {
  background: url("../imgs/ico.png") no-repeat -84.66667px 0;
  width: 127.33333px;
  height: 117.33333px;
  background-size: 400px auto;
}
.homework-page .head .score-circle .score {
  color: #2cc1ff;
  font-size: 30px;
  text-align: center;
  line-height: 3.93333;
}
.homework-page .head .score-circle .ranking {
  color: #888;
  text-align: center;
  line-height: 0;
}
.homework-page .as-list {
  padding: 20px 0;
  margin: 0 40px;
}
.homework-page .as-list dl {
  padding: 12px 0;
}
.homework-page .as-list dt {
  float: left;
  padding-top: 16px;
}
.homework-page .as-list dd {
  margin-left: 36px;
}
.homework-page .as-list .correct-btn {
  display: inline-block;
  background-color: #2cc1ff;
  color: #fff;
  padding: 3px 14px;
  border-radius: 4px;
  margin-left: 16px;
}
.homework-page .as-list .have-correct {
  display: inline-block;
  background-color: #b5d992;
  color: #fff;
  padding: 3px 14px;
  border-radius: 4px;
  margin-left: 16px;
}
.homework-page .as-list .choice .c-wrap {
  margin-left: -40px;
  float: left;
}
.homework-page .as-list .choice .option {
  float: left;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  text-align: center;
  border: 1px solid #a2a2a2;
  color: #666;
  font-size: 18px;
  line-height: 2.55556;
  margin-left: 40px;
}
.homework-page .as-list .choice .option.selected {
  background-color: #b5d992;
  border: 1px solid #88b061;
  color: #fff;
}
.homework-page .as-list .choice .option.wrong {
  background-color: #ff6858;
  border: 1px solid #d0493b;
  color: #fff;
}
.homework-page .as-list .judge {
  padding: 20px 0;
}
.homework-page .as-list .judge .c-wrap {
  margin-left: -24px;
  float: left;
}
.homework-page .as-list .judge .option {
  float: left;
  border-radius: 4px;
  width: 74px;
  height: 36px;
  font-size: 16px;
  line-height: 2.25;
  text-align: center;
  border: 1px solid #a2a2a2;
  color: #666;
  margin-left: 24px;
}
.homework-page .as-list .judge .option.selected {
  background-color: #2cc1ff;
  border: 1px solid #1091c6;
  color: #fff;
}
.homework-page .as-list .judge .option.wrong {
  background-color: #ff6858;
  border: 1px solid #d0493b;
  color: #fff;
}
.homework-page .as-list .short {
  padding: 20px 0;
}
.homework-page .as-list .short .c-wrap {
  margin-left: -10px;
  float: left;
}
.homework-page .as-list .short .img {
  float: left;
  margin-left: 10px;
  position: relative;
}
.homework-page .as-list .short .img .remove-btn {
  position: absolute;
  right: -4px;
  top: -4px;
  background: url("../imgs/ico.png") no-repeat -19.33333px -236px;
  width: 18px;
  height: 18px;
  background-size: 400px auto;
}
.homework-page .as-list .short .chose-img-btn {
  float: left;
  margin-left: 10px;
  background: url("../imgs/ico.png") no-repeat 0 -142px;
  width: 60px;
  height: 60px;
  background-size: 400px auto;
}

/*# sourceMappingURL=common.css.map */
