@charset "utf-8";


.select-rect {
    border: 2px solid #333;
    width: 200px;
    height: 200px;
    position: relative;
    //left: 150px;
    //top:150px;
    //transform: translate3d(150px,150px,0);
    $bW:2px;
    $side:20px;
    $angle:40px;

    $sideXY:-($side - $bW)/2;
    $angleXY:-($angle - $bW)/2;

    @mixin sideBGC {
        //background: #21d600;
    }
    @mixin angleBGC {
        //background: #d6c600;
    }

    .t-bar {

        position: absolute;
        top:$sideXY;
        left: 0;
        height: $side;
        width: 100%;
        @include sideBGC;

    }
    .r-bar {
        position: absolute;
        top:0;
        right:$sideXY;
        height: 100%;
        width: $side;
        @include sideBGC;
    }
    .b-bar {
        position: absolute;
        bottom:$sideXY;
        left: 0;
        height: $side;
        width: 100%;
        @include sideBGC;
    }
    .l-bar {
        position: absolute;
        top:0;
        left: $sideXY;
        height: 100%;
        width: $side;
        @include sideBGC;
    }

    .lt-bar {
        position: absolute;
        top:$angleXY;
        left:$angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;
    }
    .rt-bar {
        position: absolute;
        top:$angleXY;
        right: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;
    }
    .rb-bar {
        position: absolute;
        bottom:$angleXY;
        right: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;
    }
    .lb-bar {
        position: absolute;
        bottom:$angleXY;
        left: $angleXY;
        height: $angle;
        width: $angle;
        @include angleBGC;
    }
    .close{
        position: absolute;
        top:$angleXY;
        left: 50%;
        margin-left: - $angle/2;
        height: $angle;
        width: $angle;
        @include angleBGC;
    }
}

